.carousel img {
    position: relative;
    max-height: 350px;
}


#damesimg img {
    width: 500px;
    height: 420px;
    background-size: cover;
}
#herenimg img {
    height: 420px;
    width: 500px;
}

#herencards {    /* ?? */
    position: relative;
    right: 0px;
}

#damesdiv {
    margin-top: 50px;
    margin-bottom: 50px;
}

#carousel-example-1z {
    margin-top: 50px;
}

#benefititems {
    position: absolute;
    bottom: 140px;
    margin-top: 50px;
}

#antaalmandje {
    color: white;
}

#damesimg h1 {
    position: relative;
    bottom: 250px;
    left: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
}

#damesimg a {
    position: relative;
    bottom: 245px;
    left: 205px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    text-decoration: underline;
    color: black;
}

#herenimg h1 {
    position: relative;
    bottom: 250px;
   
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
}

#herenimg a {
    position: relative;
    bottom: 245px;
    left: 150px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    text-decoration: underline;
    color: black; 
}

.product-benefit {
    position: relative;
    left: 100px;
    bottom: 0;
}
.controls-top {
    position: relative;
    text-align: center;
}


/* cards transition */
#multi-item .carousel-item.active,
#multi-item .carousel-item-next,
#multi-item .carousel-item-prev {
  display: flex;
}

#multi-item .carousel-item-right.active,
#multi-item .carousel-item-next {
  transform: translateX(33.33%);
}

#multi-item .carousel-item-left.active, 
#multi-item .carousel-item-prev {
  transform: translateX(-33.33%)
}

#multi-item .carousel-item-right,
#multi-item .carousel-item-left{ 
  transform: translateX(0);
}
/* cards transition */


#cntrlbtton, #cntrlbtton1 {
    border-radius: 50%;
    padding: 8px;
}

/*footer Social buttons  */
.sociaal-fb,.sociaal-tw,.sociaal-li,.sociaal-gp,.sociaal-dr
    {border-radius: 50%;
        background-color: #3b5998; 
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
    height: 47px;
width: 47px;}
.sociaal-tw{
    background-color: #55acee;
}
.sociaal-gp{
    background-color: #dd4b39;

}
.sociaal-dr{
    background-color: #ec4a89;

}
.sociaal-li{
    background-color: #0082ca;
}
/*footer Social buttons  */

.carousel-indicators {
    position: relative;
    top: 0;
}

.carousel-indicators .lili {
  background-color: blue;
}

.footer1 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

